<section class="modal-dialog modal-content overlay-def mfp-with-anim">
	<header class="modal-header">
		<h2 class="modal-title"></h2>
		<button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
	</header>
	<div class="modal-body" id="LOM-chatbox">
		<div class="row">
			<section class="col-sm-3 LOM-user-column">
				<h3>Chats</h3>
				<ul class="LOM-chat-userlist userlist"></ul>
				<h3>User List</h3>
				<ul class="LOM-chat-fulluserlist userlist"></ul>
			</section>
			<section class="col-sm-9 LOM-content-column">
				<h3>Conversations</h3>
				<div class="LOM-chat-container"></div>
				<form action="#" class="LOM-chat-textbox">
					<div><input type="text"><button type="submit" class="snap-xs ico-LOM-chat">Save</button></div>
				</form>
			</section>
		</div>
	</div>
</section>