<section class="modal-dialog modal-content overlay-def mfp-with-anim LOM-review-popup">
	<header class="modal-header">
		<h2 class="modal-title">Reviews</h2>
		<button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
	</header>
	<div class="modal-body" id="LOM-review-box">
		<div class="row">
			<nav class="LOM-rev-nav col-sm-5"> </nav>
			<main class="LOM-rev-content col-sm-7">
				<h3>Reviews</h3>
				<div class="LOM-goto-container"><a href="#" class="LOM-goto">Go To Page</a></div>
				<ul class="reviews">
					<li class="LOM-empty-review">
						<h4>No reviews</h4>
						<p>Nothing to see here. We suggest adding a review with the button below</p>
					</li>
				</ul>
				<div class="LOM-new-review"></div>
				<button class="snap-md ico-LOM-plus add-review" title="Add a review">Add a review</button>
			</main>
		</div>
		<!--ul class="row reviews">

		</ul-->
	</div>
</section>