<section class="modal-dialog modal-content overlay-def mfp-with-anim">
    <header class="modal-header">
        <h2 class="modal-title"></h2>
        <button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
    </header>
    <div class="modal-body" id="LOM-course-settings">
        <h2>Users</h2>
        <ul class="userlist">
            <a href="#" data-username="admin_sjomphe">
                <span>Stef (admin) Jomphe</span>
                <button class="course-user-role snap-xs ico-USERS-admin" title="admin">admin</button>
                <button class="course-user-role snap-xs ico-USERS-manager" title="manager">manager</button>
                <button class="course-user-role snap-xs ico-USERS-designer" title="designer">designer</button>
                <button class="course-user-role snap-xs ico-USERS-editor" title="editor">editor</button>
                <button class="course-user-role snap-xs ico-USERS-reviewer" title="reviewer">reviewer</button>
                <button class="course-user-role snap-xs ico-USERS-user" title="user">user</button>
            </a>
        </ul>
        <!--<h2>Teams</h2>
        <ul class="teamlist">
            <li><a href="#" data-team="ux">UX</a></li>
            <li><a href="#" data-team="GcSkills">GC SKILLS</a></li>
        </ul>
        <button class="add-team ico-LOM-plus snap-md">Add Team</button>-->
    </div>
</section>