<section class="modal-dialog modal-content overlay-def mfp-with-anim">
    <header class="modal-header">
        <h2 class="modal-title">Course Settings</h2>
        <button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
    </header>
    <div class="modal-body" id="LOM-course-settings">
        <h3>Course Info</h3>
        <section>
            <label>Course Name&nbsp;:&nbsp;<input type="text" class="LOM-course-name"><span class="LOM-feedback"></span></label>
        </section>
        <section>
            <label>Folder&nbsp;:&nbsp;<input type="text" class="LOM-folder-name"><span class="LOM-feedback"></span></label>
        </section>
        <section>
            <h3>Teams</h3>
            <ul class="teamlist">
                <!--label>Team&nbsp;:&nbsp;<input type="text" class="LOM-team-name"><span class="LOM-feedback"></span></label-->
            </ul>
        </section>


        <button class="LOM-submit-course ico-LOM-plus snap-md" disabled>Submit Course Info</button>
    </div>

</section>