<h2></h2>
<div class="row">
	<div class="col-md-3 LOM-overview-announcements overview-type">
		<h3>Announcements</h3>
		<ul class="LOM-overview-announcement-container" data-lom-show="3">
			<p>Loading...</p>
		</ul>
	</div>
	<div class="col-md-5 LOM-overview-courses overview-type">
		<h3>Course Overview</h3>
		<ul data-lom-show="4" class="courselist"></ul>
	</div>
	<div class="col-md-4 LOM-overview-users overview-type">
		<h3>Users Online</h3>
		<ul data-lom-show="5" class="userlist"></ul>
	</div>

</div>
<div class="row"></div>