<h2></h2>
<div class="row">
    <div class="col-md-8 LOM-course-manager">

    </div>
    <section class="col-md-4">
        <h3>Upload Course</h3>
        <form enctype="multipart/form-data" id="upload">
            <input type="hidden" id="folder" name="folder" placeholder="Folder Name">
            <input type="hidden" id="name" name="name" placeholder="Course Name">
            <input type="file" name="userfile" id="userfile" class="ico-LOM-newpage snap-md" accept=".zip">
            <button class="btn-submit ico-LOM-upload snap-md" style="margin-top: 10px;">Upload Course</button>
        </form>
    </section>
</div>