<div class="progress-manager">
    <!--<h2>Progress</h2>-->
    <!--<div id="idle" class="progress-msg">
        <p>No operation in progress</p>
    </div>
    <div id="in-progress" class="hidden progress-msg">
        <p><strong>In progress: </strong><span class="operation"></span>
            <progress value="0" max="100"></progress>
            <span id="progress">0%</span></p>
    </div>
    <div id="status" class="hidden progress-msg">
        <p><strong>In progress: </strong><span class="operation"></span></p>
    </div>
    <div id="error" class="hidden progress-msg" style="color: #ff0000;"></div>-->
</div>