@import "./_progress";
@import "./_WET";
@import "./_roles";
@import "./_utils";

/*
$button-default-icon-color:blue;
$button-default-icon-color-hover:yellow;
@import "../../../courses/_default/core/scss/icons/_svg-buttons";
*/




// THIS NEEDS TO BE ELSEWHERE



.hidden{
    display: none;
}

header{

    .title{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 30px;
        
        img{
            flex: 0 0 auto;
            margin-right: 15px;
        }
        h1{
            flex: 1 1 0;
            margin: 0;
        }
    }
}
body{background-color:white;}

#userfile{
	//@include iconpack(move, md);	
    background-color: #fdfdfd;
    border-color: #e1e1e1;
    //border-radius: 8px;	
	border-style:solid;
	border-width:1px;
	padding-top:8px;
	cursor:pointer;
	
}

 /* ************************************
  * MAGNIFIC
  * ***********************************/
.LOM-white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
		}

.course-role-group{
	display: block;
    right: 0px;
    position: absolute;
    top: 0px;
	.course-user-role{
		display: inline-block;
    	position: relative!important;
	}
}


