@import "./_fonts";
	
/* ------------------ SPLASH FUNCTIONAL --------------*/
.obfuscated {
  display: none;
}

/* ------------------ SPLASH ELEMENTS --------------*/
#title-area{
	background-image: url(M725/M725_launch_page.svg);
	width: 100%;
	padding-bottom: 33%;
	background-size: 45%;
	background-position: center center;
	display: inline-block;
	background-repeat: no-repeat; 
	text-indent: -9999px;
}
html[lang='fr'] #title-area{background-image:url(M725/M725_launch_page_fr.svg)}
#coursename,#title-welcome, #subcoursename{text-indent: -9999px;display:block;}
#wordmark, #canada-logo {
  position: fixed;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #fff;
}

#launch-placement > a {
  text-decoration: none;
  padding: 5px 15px;
  font-weight: 600;
}

#splash-content {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
#splash-content h1 { font-size: 1.5em; }

#manualpop {
  visibility: hidden;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#title-welcome {
  display: block;
}

#canada-logo {
  bottom: 0px;
  text-align: right;
  margin-bottom: 0px;
  padding-top: 10px;
}

#splash-content:before {
  background: none;
  border: none;
}

#wordmark {
  height: 30px;
}
/*
//////////////////////// 
//     Buttons      ////
////////////////////////
*/
#launch-btn{
	position:relative;
	display:inline-block;
	background-color:$accent_color;
	color:black;
	font-weight:bold;
	border:none;
	padding: 0.5em 0;
	min-width:200px; 
	text-transform:uppercase;

	transition: z-index .3s step-end,-webkit-transform .3s;
	transition: z-index .3s step-end,transform .3s; 
	transition: z-index .3s step-end,transform .3s,-webkit-transform .3s;

	margin-bottom:15px;
	&:before, &:after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		transition: max-height .3s,width .3s,-webkit-transform .3s;
		transition: transform .3s,max-height .3s,width .3s;
		transition: transform .3s,max-height .3s,width .3s,-webkit-transform .3s;
		background-image: linear-gradient(135deg, transparent 0, transparent 6px, $accent_color 6px, $accent_color 9px, transparent 9px);
	}
	&:before{
		max-height: calc(100% + 6px);
		background-repeat: repeat-y;
		background-position: 0 100%;		
		height: calc(100% + 7px);
		width: 9px;
		bottom: -7px;
		left: -12px;
		background-size: 9px 12px;					
	}
	&:after{
		background-repeat: repeat-x;		
		width: calc(100% + 4px);
		height: 9px;
		left: -7px;
		bottom: -12px;
		background-size: 12px 9px;
	}
	&:hover, &:focus{
		-webkit-transform: translate(-12px,12px);
		 -ms-transform: translate(-12px,12px);
		 transform: translate(-12px,12px);	
		&:before{max-height: calc(100% - 12px);}
		&:after{width: calc(100% - 12px);}
		&:before,&:after{
			-webkit-transform: translate(12px,-12px);
			-ms-transform: translate(12px,-12px);
			transform: translate(12px,-12px);					

		}
	}

}
