
/* *************************************************************
 * VARIABLES
 * ************************************************************/

 $multimedia-bar-bg:$blue-darker;

/* *************************************************************
 * images
 * ************************************************************/
[data-lom-element="image"]{

}


/* *************************************************************
 * Multimedia players
 * ************************************************************/
.wb-mm-ctrls{
    background-color:$multimedia-bar-bg;
    .btn-default:hover,.btn-default:focus{
        background-color:$uber-dark-blue;
    }
}
.wb-mm-ctrls progress{
    border-color:$multimedia-bar-bg;
}
/* *************************************************************
 * video player
 * ************************************************************/

[data-lom-element="video"]{
    .display:before{
        background-color: $multimedia-bar-bg;
    }

}



 
/* *************************************************************
 * audio player
 * ************************************************************/
 [data-lom-element="audio"]{


}



