<!-- top banner with side-by-side underneath -->
<section class="LOM-404" style="margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <h1><span class="gigantic">404</span><span class="LOM-title-404">Learn-O-Matic</span> <span class="editor-mode">Editor Mode</span> <span class="pnf-404">Page Not Found</span></h1>
        </div>
    </div>
    <div class="row">
        <section class="col-md-12" id="LOMfr_1">
            <p class="wwyltd">This page was not found. What would you like to do?</p>
        </section>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="snap-gigantic ico-LOM-newpage LOM-scratch">Create a new page from Scratch</button>
        </div>
        <div class="col-md-6">
            <button class="snap-gigantic ico-LOM-newpage1 LOM-template">Create a new page from a Page Template</button>
        </div>
    </div>
</section>

<div id="layout-popper"></div>