<section class="modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in">
	<header class="modal-header">
		<h2 class="modal-title">Choisissez votre disposition</h2>
		<button title="Fermer&nbsp;: Portable (touche d'échappement)" class="mfp-close overlay-close">×<span class="wb-inv"> Fermer&nbsp;: Portable (touche d'échappement)</span></button>
	</header>
	<div class="modal-body" id="layoutpicker">


		<section>
			<h3>1 cadre</h3>
			<button class="snap-lg ico-LAYOUT-layout_1fr_1" data-id="layout_1fr_1">Fenêtre principale</button>
		</section>
		<section>
			<h3>2 cadre</h3>
			<button class="snap-lg ico-LAYOUT-layout_2fr_1" data-id="layout_2fr_1">Haut et bas</button>
		</section>

		<section>
			<h3>3 cadres</h3>
			<button class="snap-lg ico-LAYOUT-layout_3fr_1" data-id="layout_3fr_1">Plus petite colonne sur la droite</button>
			<button class="snap-lg ico-LAYOUT-layout_3fr_2" data-id="layout_3fr_2">Plus petite colonne sur la gauche</button>
			<button class="snap-lg ico-LAYOUT-layout_3fr_3" data-id="layout_3fr_3">Deux colonnes égales</button>

		</section>

		<section>
			<h3>4 cadres</h3>
			<button class="snap-lg ico-LAYOUT-layout_4fr_1" data-id="layout_4fr_2">Plus petite colonne sur la droite</button>
			<button class="snap-lg ico-LAYOUT-layout_4fr_2" data-id="layout_4fr_1">Plus petite colonne sur la gauche</button>
			<button class="snap-lg ico-LAYOUT-layout_4fr_3" data-id="layout_4fr_3">Deux colonnes égales</button>

		</section>
		<section>
			<h3>5 cadres</h3>
			<button class="snap-lg ico-LAYOUT-layout_5fr_1" data-id="layout_5fr_1">Trois colonnes au milieu</button>
			<button class="snap-lg ico-LAYOUT-layout_5fr_2" data-id="layout_5fr_2">Trois colonnes en-bas</button>

		</section>










	</div>
	<div class="modal-footer"><button type="button" id="ftrClose" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" title="Fermer&nbsp;: Portable (touche d'échappement)">Fermer<span class="wb-inv"> Fermer&nbsp;: Portable (touche d'échappement)</span></button></div>
	<script> //masterStructure.editor.loadLayoutList();</script>
</section>