<!-- top banner + 3 bars -->
<section class="row">
	<section class="col-md-12 LOM-frame" id="LOMfr_1">
		<h1>Sample Content</h1>
	</section>


</section>
<section class="row">
	<section class="col-md-4 LOM-frame" id="LOMfr_2">
		<h2>Sample Content</h2>
	</section>
	<section class="col-md-4 LOM-frame" id="LOMfr_3">
		<h2>Sample Content</h2>
	</section>
	<section class="col-md-4 LOM-frame" id="LOMfr_4">
		<h2>Sample Content</h2>
	</section>


</section>
<section class="row">
	<section class="col-md-12 LOM-frame" id="LOMfr_5">
		<h2>Sample Content</h2>
	</section>



</section>