<section class="modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in">
	<header class="modal-header">
		<h2 class="modal-title">Choose your layout</h2>
		<button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
	</header>
	<div class="modal-body" id="rowpicker">


		<section>
			<h3>1 Collumn</h3>
			<button class="snap-lg" data-cols="12">Full Width</button>
		</section>
		<section>
			<h3>2 Columns</h3>
			<button class="snap-lg" data-cols="4-8">Left SideBar</button>
			<button class="snap-lg" data-cols="8-4">Right SideBar</button>
			<button class="snap-lg" data-cols="6-6">Two Equal Columns</button>
		</section>
		<section>
			<h3>3 Columns</h3>

			<button class="snap-lg" data-cols="4-4-4">Three Equal Columns</button>
		</section>





	</div>
	<div class="modal-footer"><button type="button" id="ftrClose" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" title="Close Close overlay (escape key)">Close<span class="wb-inv">Close overlay (escape key)</span></button></div>
</section>