<section class="modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in">
	<header class="modal-header">
		<h2 class="modal-title">Choisissez votre layout</h2>
		<button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv">Fermer la fenêtre(esc)</span></button>
	</header>
	<div class="modal-body" id="rowpicker">


		<section>
			<h3>1 Colonne</h3>
			<button class="snap-lg" data-cols="12">Pleine Largeur</button>
		</section>
		<section>
			<h3>2 Colonnes</h3>
			<button class="snap-lg" data-cols="4-8">Barre latérale gauche</button>
			<button class="snap-lg" data-cols="8-4">Barre latérale droite</button>
			<button class="snap-lg" data-cols="6-6">Deux colonnes égales</button>
		</section>
		<section>
			<h3>3 Colonnes</h3>
			<button class="snap-lg" data-cols="4-4-4">Trois colonnes égales</button>
		</section>





	</div>
	<div class="modal-footer"><button type="button" id="ftrClose" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" title="Close Close overlay (escape key)">Close<span class="wb-inv">Close overlay (escape key)</span></button></div>
</section>