<section class="modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in">
	<header class="modal-header">
		<h2 class="modal-title">Choisissez votre disposition</h2>
		<button title="Fermer&nbsp;: Portable (touche d'échappement)" class="mfp-close overlay-close">×<span class="wb-inv"> Fermer&nbsp;: Portable (touche d'échappement)</span></button>
	</header>
	<div class="modal-body" id="templatepicker">











	</div>
	<div class="modal-footer"><button type="button" id="ftrClose" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" title="Fermer&nbsp;: Portable (touche d'échappement)">Fermer<span class="wb-inv"> Fermer&nbsp;: Portable (touche d'échappement)</span></button></div>
	<script> //masterStructure.editor.loadTemplateList();</script>
</section>