/*---------------------- navigation style buttons ----------------------*/
.fnav-square{
    background-color: $blue-darker;
    color: white!important;
    display: block;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    text-decoration: none;
	font-weight:600;
	//text-transform:uppercase;
	&:hover, &:focus{
		text-decoration:underline;		
	}
}
/*---------------------- Landing page object -----------------------*/
$margin: 20px;

.landing-page{
    .module{
        transform: skew(-15deg);
        -webkit-transform: skew(-15deg);
        -moz-transform: skew(-15deg);
        -o-transform: skew(-15deg);
        -ms-transform: skew(-15deg);
        
        overflow: hidden;
        margin-right: $margin;
        
        &.col-md-2{
            width: calc(16.6666666667% - #{$margin});
        }
        
        a{
            display: block;
            width: 200%;
            position: relative;
            left: -50%;
            background-color: $green-lighter;
            height: 200px;
            color: $blue-darker;
            font-family: "Helvetica Neue Condensed";
            font-weight: bold;
            text-align: center;
            padding: 40px 48% 30px 60%;
            font-size: 22px;
            text-decoration: none;
            
            transform: skew(15deg);
            -webkit-transform: skew(15deg);
            -moz-transform: skew(15deg);
            -o-transform: skew(15deg);
            -ms-transform: skew(15deg);
            
            &:hover, &:focus{
                background-color: $green;
                color: black;
                
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                -ms-transition: all 0.3s;
            }
        }
    }
}

@include breakpoint-lt("xlarge"){
	.landing-page .module a{
        padding: 35px 62% 30px 72%;
        font-size: 17px;
    }
}

@include breakpoint-lt("large"){
    .landing-page .module{
        &.col-sm-4{
            width: calc(33.3333333333% - #{$margin});
            margin-bottom: 20px;
        }
        a{
            padding: 35px 62% 30px 72%;
            font-size: 17px;
        }
    }
}

@include breakpoint-lt("small"){
    $margin: 15px;
    
    .landing-page .module{
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        -ms-transform: skew(0deg);
        
        &.col-xs-6{
            width: calc(50% - #{$margin});
            margin-right: $margin;
            padding: 0;
            margin-bottom: 15px;
        }
        a{
            padding: 10% 20px;
            font-size: 17px;
            width: 100%;
            left: 0;
            font-size: 16px;
            
            transform: skew(0deg);
            -webkit-transform: skew(0deg);
            -moz-transform: skew(0deg);
            -o-transform: skew(0deg);
            -ms-transform: skew(0deg);
        }
    }
}

/*----------------------------- Project box element --------------------------------*/
.project-box{
    background-color: $purple-lighter;
    padding: 40px;
    
    a{
        color: $blue-darker;
    }
}