<details class="config-action">
	<summary>
		<h3>Action</h3>
	</summary>
	<div class="wb-tabs" style="margin-top: 20px; margin-bottom: 20px;">
		<details>
			<summary class="wb-details">Fenêtre contextuelle (lightbox)</summary>
			<div>
				<p class="lightbox-picker-instructions">Sélectionnez une fenêtre contextuelle pour la lier à ce bouton.</p>
				<ul class="lbx-list">
					<li><button class="snap-md ico-LOM-lightbox" style="margin-bottom: 10px;">Lightbox Template</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Action de navigation</summary>
			<div>
				<p class="navigation-picker-instructions">Sélectionnez une action de navigation pour la lier à ce bouton.</p>
				<ul class="nav-list">
					<li><button class="snap-md ico-QS-right" style="margin-bottom: 10px;">Modèle de navigation</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Autre</summary>
			<div>
				<p class="other-picker-instructions">Sélectionnez une action pour la lier à ce bouton.</p>
				<ul class="other-list">
					<li><button class="snap-md ico-QS-check" data-script="scorm.complete()" style="margin-bottom: 10px;">Marquer le cours comme complété</button></li>
					<!--<li><button class="snap-md ico-QS-check" data-script="//add some JavaScript here" style="margin-bottom: 10px;">Other Action</button></li>-->
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Script</summary>
			<div class="custom-script">
				<textarea id="LOM-custom-script" name="LOM-custom-script" rows="8" cols="100">//Ajoutez du JavaScript ici</textarea><br>
				<button class="snap-sm ico-LOM-wrench">Ajouter comme action du bouton</button>
			</div>
		</details>
	</div>
</details>