<details class="config-action">
	<summary>
		<h3>Action</h3>
	</summary>
	<div class="wb-tabs" style="margin-top: 20px; margin-bottom: 20px;">
		<details>
			<summary class="wb-details">Lightbox</summary>
			<div>
				<p class="lightbox-picker-instructions">Click to select a lightbox to link to this button.</p>
				<ul class="lbx-list">
					<li><button class="snap-md ico-LOM-lightbox" style="margin-bottom: 10px;">Lightbox Template</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Navigation Action</summary>
			<div>
				<p class="navigation-picker-instructions">Click to select a navigation action to link to this button.</p>
				<ul class="nav-list">
					<li><button class="snap-md ico-QS-right" style="margin-bottom: 10px;">Navigation Template</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Other</summary>
			<div>
				<p class="other-picker-instructions">Click to select an action to link to this button.</p>
				<ul class="other-list">
					<li><button class="snap-md ico-QS-check" data-script="scorm.complete()" style="margin-bottom: 10px;">Mark Course as Completed</button></li>
					<!--<li><button class="snap-md ico-QS-check" data-script="//add some JavaScript here" style="margin-bottom: 10px;">Other Action</button></li>-->
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">Script</summary>
			<div class="custom-script">
				<textarea id="LOM-custom-script" name="LOM-custom-script" rows="8" cols="100">//Add some JavaScript here</textarea><br>
				<button class="snap-sm ico-LOM-wrench">Add as button action</button>
			</div>
		</details>
	</div>
</details>