<details>
	<summary>
		<h3>Button Size and Icon Style</h3>
	</summary>

	<div class="row config-size" style="margin-top: 20px; margin-bottom: 10px;">
		<button class="snap-sm">Switch to Small Icon</button>
		<button class="snap-md">Switch to Medium Icon</button>
		<button class="snap-lg">Switch to Large Icon</button>
	</div>
	<div class="wb-tabs config-iconpack" style="margin-top: 10px; margin-bottom: 20px;">
		<details>
			<summary class="wb-details">Snap! Iconpack</summary>
			<div>
				<p class="lightbox-picker-instructions">Click to select an icon to link to this button.</p>
				<ul class="snap-iconpack-list">
					<li><button class="snap-md ico-SNAP-save">Save</button></li>
					<li><button class="snap-md ico-SNAP-bug">Bug</button></li>
					<li><button class="snap-md ico-SNAP-delete">Delete</button></li>
					<li><button class="snap-md ico-SNAP-lock">Lock</button></li>
					<li><button class="snap-md ico-SNAP-unlock">Unlock</button></li>
					<li><button class="snap-md ico-SNAP-edit">Edit</button></li>
					<li><button class="snap-md ico-SNAP-page">Page</button></li>
					<li><button class="snap-md ico-SNAP-folder">Folder</button></li>
					<li><button class="snap-md ico-SNAP-folderclosed">Folder Closed</button></li>
					<li><button class="snap-md ico-SNAP-warning">Warning</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">QS Iconpack</summary>
			<div>
				<p class="lightbox-picker-instructions">Click to select an icon to link to this button.</p>
				<ul class="qs-iconpack-list">
					<li><button class="snap-md ico-QS-right">Right</button></li>
					<li><button class="snap-md ico-QS-left">Left</button></li>
					<li><button class="snap-md ico-QS-check">Check</button></li>
					<li><button class="snap-md ico-QS-activity">Activity</button></li>
					<li><button class="snap-md ico-QS-exam">Exam</button></li>
					<li><button class="snap-md ico-QS-radio">Radio</button></li>
					<li><button class="snap-md ico-QS-checkbox">Checkbox</button></li>
				</ul>
			</div>
		</details>
		<details>
			<summary class="wb-details">LOM Iconpack</summary>
			<div>
				<p class="lightbox-picker-instructions">Click to select an icon to link to this button.</p>
				<ul class="lom-iconpack-list">
					<li><button class="snap-md ico-LOM-newpage">New document</button></li>
					<li><button class="snap-md ico-LOM-plus">Plus</button></li>
					<!--li><button class="snap-md ico-LOM-layout">Navigation Template</button></li-->
					<li><button class="snap-md ico-LOM-texttool">Text</button></li>
					<!--li><button class="snap-md ico-LOM-custom">Navigation Template</button></li-->
					<li><button class="snap-md ico-LOM-image">Image</button></li>
					<li><button class="snap-md ico-LOM-wrench">Configuration</button></li>
					<li><button class="snap-md ico-LOM-preview">Preview</button></li>
					<li><button class="snap-md ico-LOM-details">Accordion</button></li>
					<li><button class="snap-md ico-LOM-move">Move</button></li>
					<li><button class="snap-md ico-LOM-gear">Settings</button></li>
					<li><button class="snap-md ico-LOM-structure">Structure</button></li>
					<li><button class="snap-md ico-LOM-theme">Theme</button></li>
					<li><button class="snap-md ico-LOM-editpage">Edit Page</button></li>
					<!--li><button class="snap-md ico-LOM-upload">Navigation Template</button></li-->
					<li><button class="snap-md ico-LOM-download">Download</button></li>
					<li><button class="snap-md ico-LOM-trash">Trash</button></li>
					<li><button class="snap-md ico-LOM-tabs">Tabbed Interface</button></li>
					<li><button class="snap-md ico-LOM-lightbox">Lightbox</button></li>
					<li><button class="snap-md ico-LOM-audio">Audio</button></li>
					<li><button class="snap-md ico-LOM-video">Video</button></li>
					<li><button class="snap-md ico-LOM-login">User</button></li>
					<li><button class="snap-md ico-LOM-faq">Frequently Asked Questions</button></li>
					<li><button class="snap-md ico-LOM-buildYourOwn">Build Your Own Element</button></li>
					<li><button class="snap-md ico-LOM-btngroup">Button Group</button></li>
					<li><button class="snap-md ico-LOM-search">Search</button></li>
					<li><button class="snap-md ico-LOM-home">Home</button></li>
					<li><button class="snap-md ico-LOM-course">Course</button></li>
					<li><button class="snap-md ico-LOM-users">Users</button></li>
					<li><button class="snap-md ico-LOM-notifications">Notifications</button></li>
					<li><button class="snap-md ico-LOM-chat">Chat</button></li>
					<li><button class="snap-md ico-LOM-review">Review</button></li>
					<li><button class="snap-md ico-LOM-board">Board</button></li>
					<li><button class="snap-md ico-LOM-announcement">Announcement</button></li>
				</ul>
			</div>
		</details>
		<!--details>
			<summary class="wb-details">User Roles Iconpack</summary>
			<div>
				<p class="lightbox-picker-instructions">Click to select an icon to link to this button.</p>
				<ul class="lom-iconpack-list">
					<li><button class="snap-md ico-USERS-admin">Administrator</button></li>
					<li><button class="snap-md ico-USERS-manager">Manager</button></li>
					<li><button class="snap-md ico-USERS-designer">Designer</button></li>
					<li><button class="snap-md ico-USERS-editor">Editor</button></li>
					<li><button class="snap-md ico-USERS-reviewer">Reviewer</button></li>
					<li><button class="snap-md ico-USERS-user">User</button></li>
				</ul>
			</div>
		</details-->
	</div>
</details>

<style>
	.snap-iconpack-list button.snap-md,
	.qs-iconpack-list button.snap-md,
	.lom-iconpack-list button.snap-md {
		margin-bottom: 10px;
	}
</style>