<figure class="wb-mltmd LOM-element" data-lom-element="video" id="LOM_el_3">
	<video title="Video Title" poster="theme/base/LOM-poster-placeholder.jpg">
		<source type="video/mp4" src="https://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4">
		<track src="#inline-captions" kind="captions" data-type="text/html" srclang="en" label="English">
	</video>
	<figcaption>
		<details id="inline-captions" class="LOM-holder">
			<summary><div class="LOM-editable" id="LOM-edit-3">[HTML Transcript]</div></summary>
		</details>
	</figcaption>
</figure>