<section class="LOM-element ribbon-top activity" data-LOM-element="activity">
	<!-- This element is an activity... no intro, no final feedback -->
		<!--this is an activity-->
		<div class="qs-elearning-activity" data-activity-type="standard">
		<h2>Activity</h2>
			<!--introduction-->
			<div class="qs-start-activity">
				<div class="LOM-editable">
					<p>Instructions...la note de passage est de 70%</p>
				</div>
				<p><input class="qs-start" type="button" value="Débuter l'examen"></p>
			</div>
			
			<!--this is an exercise-->
			<div class="qs-exercise LOM-holder">
				
				





			</div>
			<!--end exercise-->
			<!--conclusion-->
			<div class="qs-feedback-final">
				<p><span class="yougot">Vous avez obtenu</span> : <span class="qs-get-current-score">0</span> / <span class="qs-get-max-score">0</span></p>
				<div class="qs-final-positive-feedback">
					<div class="LOM-editable">
						<p>Vous avez réussi l'examen.</p>
					</div>
				</div>
				<div class="qs-final-negative-feedback">
					<div class="LOM-editable">
						<p>Vous avez échoués l'examen.</p>
					</div>
				</div>
			</div>

			
	</div>
	<!--end activity-->

</section>