<figure class="wb-mltmd LOM-element" data-lom-element="video">
	<video title="Video Title">
		<!-- <source type="video/youtube" src="https://www.youtube.com/watch?v=9znKJqnFuuY" /> -->
		<source type="video/mp4" src="https://video.csps-efpc.gc.ca/p/101/sp/10100/serveFlavor/entryId/0_rm6ughwl/v/2/flavorId/0_weoaxq26/name/a.mp4" />
		<track src="https://video.csps-efpc.gc.ca/api_v3/index.php/service/caption_captionAsset/action/serve/captionAssetId/0_l8ydvmd6/ks/Y2JjYzNkYmZlMDY4MzY0ZTE1MTVjZmNlYjVmZDA5MTQ3MGNhNWE2N3wxMDE7MTAxOzE2MTY3NjQ0MjY7MDsxNjE2Njc4MDI2LjI3ODg7O2Rvd25sb2FkOjBfcm02dWdod2wsZGlzYWJsZWVudGl0bGVtZW50Zm9yZW50cnk6MF9ybTZ1Z2h3bCxzdmlldzowX3JtNnVnaHdsOzs=/.xml" kind="captions" data-type="application/ttml+xml" srclang="en" label="English" />
	</video>
	<figcaption>
		<details>
			<summary>[Video Transcript]</summary>
			<div class="tgl-panel LOM-holder">
				<div class="LOM-editable">
					[Insert Video transcript here]

				</div>
			</div>
		</details>
		</figcaption-->
</figure>