<section class="LOM-element" data-LOM-element="multiplechoice">
	<!--this is a question-->
	<div class="qs-question" data-question-type="type-1">
		
		<fieldset>
			<!-- QUESTION MAIN TEXT -->
			<legend class="qs-text">
				<div class="LOM-editable">[Insert Question Text]</div>
			</legend>
			<!-- QUESTION ANSWERS -->
			<div class="qs-answers">
				<div class="qs-answer-container LOM-holder">
				</div>
				<button class="qs-submit snap-sm ico-QS-check">Submit</button>
			</div>
		</fieldset>
		
		<!-- QUESTION FEEDBACK -->
		<div class="qs-feedback">
			<div class="qs-right">
				<div class="LOM-editable">
					<p>Bonne réponse.</p>
				</div>
			</div>
			<div class="qs-wrong">
				<div class="LOM-editable">
					<p>Mauvaise réponse.</p>
				</div>
			</div>
			<div class="qs-generic">
				<div class="LOM-editable">
					<p>Generic feedback</p>
					<p>Passez à la prochaine question.</p>
				</div>
			</div>
			<!--button class="qs-continue snap-sm ico-QS-right" >Next</button-->
		</div>
	</div>
	<!--end question-->
</section>