<section>

	<section class="row">
		<div class="col-md-12">
			<h3>Name</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="title_en">English:</label>
				<input type="text" id="title_en" value="New Folder" class="LOM-newpage" />
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<label for="title_fr">French: </label>
				<input type="text" id="title_fr" value="Nouveau dossier" class="LOM-newpage" />
			</p>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Location</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="location">Folder: </label>
				<select type="text" name="location" id="location">
					<option value="root">Course Root</option>
				</select>
			</p>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Keywords</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="keywords">List of Keywords</label>
				<input type="text" id="LOM-structure-keywords" value="" class="LOM-keywords-structure" />
			</p>
		</div>
	</section>

	<div class="row">
		<div class="col-md-12">
			<button class="col-md-6 snap-lg ico-SNAP-save LOM-save-structure mrgn-tp-lg">Save and close</button>
		</div>
		<!--div class="col-md-4">
			<button class="snap-lg ico-LOM-editpage  LOM-edit-structure-page">Save and Edit</button>
		</div-->
	</div>

</section>