<section>

	<section class="row">
		<div class="col-md-12">
			<h3>Nom</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="title_en">Anglais : </label>
				<input type="text" id="title_en" value="New Folder" class="LOM-newpage" />
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<label for="title_fr">Français : </label>
				<input type="text" id="title_fr" value="Nouveau dossier" class="LOM-newpage" />
			</p>
		</div>

	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Emplacement</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="location">Dossier: </label>
				<select type="text" name="location" id="location">
					<option value="root">Racine du cours</option>
				</select>
			</p>
		</div>
	</section>
	<section class="row">
		<div class="col-md-12">
			<h3>Mots-Clé</h3>
		</div>
		<div class="col-md-6">
			<p>
				<label for="keywords">Liste de Mots-Clés: </label>
				<input type="text" id="LOM-structure-keywords" value="" class="LOM-keywords-structure" />
			</p>
		</div>
	</section>

	<div class="row">
		<div class="col-md-12">
			<button class="col-md-6 snap-lg ico-SNAP-save LOM-save-structure mrgn-tp-lg">Sauvegarder et fermer</button>
		</div>
		<!--div class="col-md-4">
			<button class="snap-lg ico-LOM-editpage  LOM-edit-structure-page">Save and Edit</button>
		</div-->
	</div>

</section>