 
/*-------------------------------------------------------------------------
//-------------------------------- DASHBOARD---------------------------
-------------------------------------------------------------------------*/ 

//---------- TOOLBOX------
#LOM-toolbox{
    position: fixed;
    top: 120px;
	padding-left:20px;
	left:-20px;	
	
-webkit-box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.87);
-moz-box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.87);
box-shadow: 10px 10px 12px -7px rgba(0,0,0,0.87);
}

//---------- DASHBOARD------
.LOM-dashboard, .LOM-modetoggle{
	background-color:red;
	display: block;


   // width: 50px;
    background-color: white;
    //margin-top: 80px;
    clear:both;

	border: 1px #c1c1c1 solid;
    overflow: visible;
	width:48px;
	overflow:visible;

	button{
		position: relative;
		display: block;
		clear: both;
		padding-left: 40px;
		padding-right: 0px;
		overflow-x: hidden;
		white-space: nowrap;
		width: 40px;
		border-color:transparent!important;
		
		&:hover{
			overflow-x:visible;
			text-indent: 10px;
			background-color:white;
			width:auto;
			padding-right:5px;
			
			
		}
		
		&:before{
			border:none!important;
			
			    //margin-top: 0px;
			margin-left:-40px;
			
			
		}
		&:hover:before{
			margin-top: -7px;
			//top:1px;
			
			//margin-top: 0px;
			
		}
	}
	.page404 &{
		//visibility:hidden;
	}
	.LOM-modes-title{
		font-family: unset;
		text-transform: uppercase;
		font-size: 0.7em;
		width: 100%;
		text-align: center;
		font-weight: 600;
		color: #555;
		height: 20px;
		padding: 3px 0px;
	}
}

.LOM-dashboard{
	margin-top:5px;
	.page404.LOM-pageEdit-active &{
		display:none;
	}
	.LOM-preview-active &{
		display:none;
	}
	
	
	visibility:hidden;
	
	html.LOM-structure-active &,
	html.LOM-pageEdit-active &,
	html.LOM-theme-active &,
	html.LOM-settings-active &
	{visibility:visible;}

	
}


.LOM-modetoggle{

	button{
		

	}
}


$modes: preview, pageEdit, structure, theme, settings;

@each $type in $modes {
  html.LOM-#{$type}-active button.LOM-mode-#{$type}{
	  
    
	 $selected-border:grey;
	  width:52px;
	  border-width: 2px;
	  border-color: $selected-border $selected-border $selected-border transparent!important;
	  border-radius:0px 10px 10px 0px;
	  border-style:solid;

	  
	  
	  background-color:#fafafa;
	  text-indent:10px;
	  &:hover{
			overflow-x:visible;
			text-indent: 10px;
			background-color:white;
			width:auto;
			padding-right:5px;
		  
	  }
	  
  }
}

