

/*-------------------------------------------------------------------------
//-------------------------------- Editboxes---------------------------
-------------------------------------------------------------------------*/
/*----------------- CKE -----------------------*/
//#cke_LOM-edit-1{display:none;}

//---when editboxes are editable
.cke_editable,.LOM-highlight-editables .LOM-editable{
	//border:dashed 1px #555;
	summary>form>&{
		display:inline-block; 
	}
	
	&:hover:before{
		
		content: '';			
		position: absolute;
		@include iconpack(edit, md, #808080);
		left: -35px;
    	margin-top: -7px;

		
	}
	
}
.LOM-overflow-warning{
	color:#B00000;
	//background-color:red;
	&:before{
		content: 'Text Overflow';
		
		background-color: white;
		color: #B00000;
		position: absolute;
		left: 100%;
		@include iconpack(warning, md, disabled);
		
    	padding-top: 35px;
		
	}
}

/* ********************************************
 * * A11Y scanner
 * *******************************************/
 /*html.LOM-show-CKE-a11y-suggestions .cke_a11yc_ui_form_actionset*/.cke_a11yc_ui_form{
	 display:none;
 }


 .cke_wysiwyg_frame ,.cke_contents{
	 min-height:100vh!important;
 }
 