$element-background:white; 
$element-border :#eee;
$label-color:#555;

$delete-color:#990000;
/*-------------------------------------------------------------------------
//-------------------------------- Edit bar/view---------------------------
-------------------------------------------------------------------------*/
.LOM-edit-view{
    visibility: hidden;
    position: absolute;
	border-radius: 5px;
	background-color: #fdfdfd;
	
    top: 0%;
    right: 0%;
	.LOM-editing &{
		button:not(.ico-SNAP-save){
			display:none;
		}		
	}
	*:hover>&, &:focus{
		visibility: visible;
	}
	.LOM-label{

		border-color: transparent;
		border: 2px solid transparent;
		padding: 10px;
		color:$label-color;


		
	}	
}
	//-------------- PENDING DELETE
	html body #dynamic_content .LOM-pending-delete{
		border:1px solid $delete-color;
	}
	
/*-------------------------------------------------------------------------
//-------------------------------- ELEMENTS---------------------------
-------------------------------------------------------------------------*/
.LOM-element {
	position:relative;
	display: block;

	//------------ only when activated
	.LOM-pageEdit-active &{
		min-height:45px;
		background-color:$element-background;

		border-radius: 2px 5px 5px 5px;
		border-width:1px;
		border-color:$element-border;
		margin-bottom:20px;			
	}

	
	.LOM-pageEdit-active  .LOM-frame>&{
		//specifically, elements DIRECTLY on the frame when editmode is active
		
		border-style:solid;
		.LOM-element{
			padding-left:20px;
			//b-elements border
			border-style:dotted;
		
		}
		
	}
}
/*-------------------------------------------------------------------------
//-------------------------------- Handles & SORTABLE---------------------------
-------------------------------------------------------------------------*/
.LOM-ui-handle{
	display: inline-block;
    position: absolute;
	
	background-color:$element-background;
	
    margin-left: -35px;
	margin-top:0px;
	top:0px;
	left:0px;
    width: 35px;
    height: 35px;
	
	border-radius: 5px 0px 0px 5px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-color:$element-border;
	
	visibility:hidden;
	
	.LOM-pageEdit-active .LOM-frame>.LOM-element>&{border-style:solid;}
	.LOM-pageEdit-active .LOM-frame>.LOM-element .LOM-element>&{border-style:dotted;}

	.LOM-pageEdit-active .LOM-frame:hover>.LOM-element>&{visibility:visible!important;}		
	.LOM-pageEdit-active .LOM-element:hover>.LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .qs-exercise:hover>.LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .qs-answers:hover .LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .LOM-holder:hover>.LOM-element>&{visibility:visible!important;}

	@include iconpack(move, md, standard);
	
	&:hover{
		background-position-y: -35px;
		cursor: grab;
	}

	

}



.sortable-placeholder{
	display:block;
	min-height:100px;
	margin-bottom:40px;
	.LOM-structure-active &{
		min-height:50px;
		margin-bottom:5px;
	}
	width:auto;
	border-radius: 5px;
	border:1px solid $element-border;
	background-color:$element-background;	
		.qs-answers &,[data-lom-element="accordion"] &{
			min-height:40px;
			margin-bottom:0px;
		}
}





/*-------------------------------------------------------------------------
//-------------------------------- custom ELEMENTS---------------------------
-------------------------------------------------------------------------*/
.LOM-attr-label.LOM-attr-text{
	text-transform: capitalize;
}
//------------------general look--------------------
/*-----------------  -----------------------*/



html.LOM-hide-add{
	.LOM-delete-on-save{
		visibility:hidden;
	}
}

/*----------------- ribbons -----------------------*/
.LOM-element.ribbon-top{
	padding-top:10px;
}



//placeholder default
.LOM-delete-on-save {
	html.LOM-preview &{
		display:none;
	}
}


/*----------------- Details -----------------------*/
.LOM-pageEdit-active .LOM-element[data-LOM-subtype='tabs']>details>summary::-webkit-details-marker{display:none;}
.LOM-pageEdit-active .LOM-element[data-LOM-element='accordion']{
	padding-top:40px;
	padding-left:20px;
	details.LOM-element[data-LOM-element='details']{
		&[open].LOM-fake-open{
			div.LOM-holder{display:none;}
			//div.LOM-ui-handle{display:none;}
			padding-bottom:0px;
			summary{
				margin-bottom:0px!important;
				
			}

		}
		margin-bottom:0px;

			//height:40px;
			min-height:35px;
			margin-bottom:0px;
			
			summary{
				height:45px;
				}

	}
	
}

details,
.LOM-frame,
.LOM-holder{
	&>button.ico-LOM-plus.LOM-delete-on-save{
		opacity: 0.3;
  		filter: alpha(opacity=30);
	}
}
details:hover, .LOM-frame:hover, *:focus{
	&>button.ico-LOM-plus.LOM-delete-on-save{

		opacity: 1;
  		filter: alpha(opacity=100);
	}
}

.LOM-highlight-editables{

	summary{
		//padding-left:30px;
		div.LOM-editable:before{
			left: 0px;
    		top: 5px;
		}
		&::-webkit-details-marker {
		  //display:none;
			visibility:hidden;
		}
	}
}


.LOM-pageEdit-active .LOM-element[data-lom-subtype='tabs']{
	margin-top:45px;
	//padding-top:10px;
	&:before{
		content: 'TABBED INTERFACE';
		position: absolute;
		margin-left: -41px;
		margin-top: -52px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		border-right: transparent;
		border-top-right-radius: 5px;
		background-color: white;

	}
}
/*----------------- CAROUSEL -----------------------*/
.LOM-pageEdit-active .LOM-element[data-lom-element='carousel']{
	padding-top:45px;
	//padding-top:10px;
	&:before{
		content: 'CAROUSEL';
		position: absolute;
		//margin-left: -41px;
		margin-top: -52px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		border-right: transparent;
		border-top-right-radius: 5px;
		background-color: white;

	}
	
	li.control.tab-count,li.control.plypause{
		display:none;
	}
	
	[role="tablist"]{
		display:none;
	}
}


.LOM-pageEdit-active .LOM-element[data-lom-element='panel']{
	padding-top:45px;
	//padding-top:10px;
	&:before{
		content: 'Panel';
		position: absolute;
		//margin-left: -41px;
		margin-top: -52px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		border-right: transparent;
		border-top-right-radius: 5px;
		background-color: white;

	}
}

/*----------------- IMAGE -----------------------*/
.LOM-gallery-selected{
	border:3px solid black;
}
.LOM-pageEdit-active [data-lom-element='image']:hover{
	
	img{
		cursor:pointer;
	}
}

#LOM-clickable-action{

	&[data-action-type='navigate'] option:not(.LOM-action-navigate){display:none;}
	&[data-action-type='lightbox'] option:not(.LOM-action-lightbox){display:none;}
}


.LOM-pageEdit-active .LOM-element[data-lom-element='lightbox']{
	.mfp-hide{display:block!important;}
	.LOM-popup-ID{
		position: absolute;
		right: 0px;
		border: 1px #e1e1e1 solid;
		border-radius: 5px;
		background-color: white;
		padding: 12px;
		color:black;
		&:before{
			content:'Lightbox ID: ';
		}
	}
}

/*----------------- VIDEOS -----------------------*/
#LOM-video-files{
	margin-bottom:30px;
	select{
		display:none;
	}
}

.btn-selected{
	background-color:#f1f1f1!important;
	    border-width: 5px;
}

.upload-status progress{
    height: 15px;
}

.modal-body .row {
    margin-left: 0px;
    margin-right: 0px;
}

#LOM-video-upload h3, #LOM-audio-upload h3{
    margin-top: 0px;
}

/*----------------- markers -----------------------*/

.markers{
display: block;
    width: 100%;
    height: 16px;
    margin-top: -55px;
    position: absolute;
	.marker{
       margin-top: -16px;
			position: absolute;
			z-index: 1;
			padding: 0;
			width: 15px;
			height: 15px;
			/* overflow: hidden; */
			white-space: nowrap;
			/* text-indent: -9999px; */
			border: 1px grey solid;
			border-radius: 50%;
			display: inline-block;
		span{
			position:absolute;
			background-color:white;
			margin-top: -35px;
			padding:2px;
			display:none;
		}
		&:hover, &:focus{
			border-width:2px;
			span{display:block;}
		}
	}
}

figure figcaption .marker-hover{
	border-color:#555!important;}

.link-as-button{ 
	background-color:red;
	display:block;
}