$element-background:white; 
$element-border :#eee;
$label-color:#555;

$delete-color:#990000; 
/*-------------------------------------------------------------------------
//-------------------------------- Edit bar/view---------------------------
-------------------------------------------------------------------------*/
.LOM-edit-view{
    visibility: hidden;
    position: absolute;
	border-radius: 5px;
	
    top: 0%;
    right: 0%;
	.LOM-editing &{
		button:not(.ico-SNAP-save){
			display:none;
		}		
	}
	*:hover>&, &:focus{
		visibility: visible;
	}
	.LOM-label{
		border-color: transparent;
		border: 2px solid transparent;
		padding: 10px;
		color:$label-color;
	}	
    button:not(:last-of-type){
        margin-right: 5px;
    }
}
	//-------------- PENDING DELETE
	html body #dynamic_content .LOM-pending-delete{
		border:1px solid $delete-color;
	}
	
/*-------------------------------------------------------------------------
//-------------------------------- ELEMENTS---------------------------
-------------------------------------------------------------------------*/
.LOM-element {
	position:relative;
	display: block;

	//------------ only when activated
	.LOM-pageEdit-active &{
		min-height:45px;
		background-color:$element-background;

		//border-radius: 2px 5px 5px 5px;
		border-width:1px;
		border-color:$element-border;
		margin-bottom:20px;		
        
        &[data-lom-element="text"]{
            margin-top: 35px;//65px;
			padding: 20px 30px;
            
			p:last-child{
				margin-bottom: 0;
			}
            .LOM-edit-view{
                top: -46px;
            }
        }
        [data-lom-element="details"]{
            summary{
                padding-left: 45px;
                
                .cke_editable:before{
                    left: -55px;
                }
            }
        }
        &[data-lom-element="image"]{
            padding: 50px 20px 30px 20px;
            
            a.LOM-img-lbx, a.LOM-img-lbx img{
                cursor: default!important;
            }
        }
		&[data-lom-element="custom"]{
			padding: 20px 30px;
            
			p:last-child{
				margin-bottom: 0;
			}
			h2{
				margin-top: 15px;
			}
        }
        &[data-lom-element="button"]{
            margin-top: 65px;
				display:block;
				padding: 20px 30px;
			& button:not([onclick]) span.LOM-btn-title:after{
			  opacity:0.6;
			  content:' (No Functionality)';
			}
			&.snap-sm{
			  min-width:250px;
			}
            .LOM-edit-view{
                top: -46px;
            }
        }
        &[data-lom-element="btngroup"]{
            margin-top: 65px;
            
            .LOM-edit-view{
                top: -46px;
            }
        }
        &[data-lom-element="audio"]{
            margin-top: 65px;
            padding: 30px 20px;
            
            .LOM-edit-view{
                top: -46px;
            }
        }
        &[data-lom-element="video"]{
            padding: 30px 20px;
        }
		&[data-lom-element="activity"]{
            padding-top: 20px;
			padding-bottom: 20px;
            padding-right: 30px;
        }
		&[data-lom-element="faq"]{
            padding-top: 50px;
			padding-bottom: 25px;
            margin-left: 0;
            margin-right: 0;
            
			.favbtntest, p[aria-live]{display:none!important;}
			.input-group{width:60%;}
        }
        &[data-lom-element="lightbox"]{
            .modal-title{
                padding-left: 30px;
                    
                p:last-child{
                    margin-bottom: 0;
                }
            }
            .modal-footer, .modal-header button.mfp-close{
                display: none;
            }
            .LOM-holder{
                padding-left: 40px;
            }
        }
	}
	
	.LOM-pageEdit-active  .LOM-frame>&{
		//specifically, elements DIRECTLY on the frame when editmode is active
		
		border-style:solid;
		.LOM-element:not([data-lom-element="details"]){
			padding-left:20px;
			//b-elements border
			border-style:dotted;
		
		}
		
	}
}

html.LOM-pageEdit-active[lang="fr"] .LOM-element[data-lom-element="button"] button:not([onclick]) span.LOM-btn-title:after{
    content:' (Aucune fonctionnalité)';
}

html:not(.LOM-pageEdit-active) .LOM-element[data-lom-element="button"]:not(:last-of-type) button.LOM-btn{
    margin-bottom: 10px;
}

html.LOM-pageEdit-active{
    .col-md-4, .col-md-3, .col-md-2, .col-md-1{
        .LOM-element:not([data-lom-element="details"]){
            margin-top: 65px!important;
            
            .LOM-edit-view{
                top: -46px!important;
            }
        }
    }
} 

/*-------------------------------------------------------------------------
//-------------------------------- Handles & SORTABLE---------------------------
-------------------------------------------------------------------------*/
.LOM-ui-handle{
	display: inline-block;
    position: absolute;
	
	background-color:$element-background;
	
    margin-left: -35px;
	margin-top:0px;
	top: -1px;
	left:0px;
    width: 35px;
    height: 35px;
	
	border-radius: 0;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-color:$element-border;
	
	visibility:hidden;
	
	.LOM-pageEdit-active .LOM-frame>.LOM-element>&{border-style:solid;}
	.LOM-pageEdit-active .LOM-frame>.LOM-element .LOM-element>&{border-style:dotted;}

	.LOM-pageEdit-active .LOM-frame:hover>.LOM-element>&{visibility:visible!important;}		
	.LOM-pageEdit-active .LOM-element:hover>.LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .qs-exercise:hover>.LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .qs-answers:hover .LOM-element>&{visibility:visible!important;}
	.LOM-pageEdit-active .LOM-holder:hover>.LOM-element>&{visibility:visible!important;}

	@include iconpack(move, md);
	
	&:hover{
		@include iconpack(move, md, #606060);
		cursor: grab;
	}

	

}



.sortable-placeholder{
	display:block;
	min-height:100px;
	margin-bottom:40px;
	.LOM-structure-active &{
		min-height:50px;
		margin-bottom:5px;
	}
	width:auto;
	border-radius: 5px;
	border:1px solid $element-border;
	background-color:$element-background;	
		.qs-answers &,[data-lom-element="accordion"] &{
			min-height:40px;
			margin-bottom:0px;
		}
}





/*-------------------------------------------------------------------------
//-------------------------------- custom ELEMENTS---------------------------
-------------------------------------------------------------------------*/
.LOM-attr-label.LOM-attr-text{
	text-transform: capitalize;
}
//------------------general look--------------------
/*-----------------  -----------------------*/



html.LOM-hide-add{
	.LOM-delete-on-save{
		visibility:hidden;
	}
}

/*----------------- ribbons -----------------------*/
.LOM-element.ribbon-top{
	padding-top:10px;
}



//placeholder default
.LOM-delete-on-save {
	html.LOM-preview &{
		display:none;
	}
}

/*----------------- CONTAINER  -----------------------*/
$element-container-border:#999;
.LOM-pageEdit-active .LOM-element[data-LOM-element='container']{
	clear:both;
	margin-top: 30px;
	padding: 40px 10px 10px 10px;
	border-color:$element-container-border;
	&:before{
		content: 'CONTAINER';
		position: absolute;
		margin-left: -21px;
		margin-top: -50px;
		width: auto;
		padding: 2px 3px 0px 3px;
		border: 1px solid $element-container-border;
		border-bottom: transparent;
		background-color: white;
		font-size: 12px;
		font-weight: 600;
	}

	
}
/*----------------- Details -----------------------*/
.LOM-pageEdit-active .LOM-element[data-LOM-subtype='tabs']>details>summary::-webkit-details-marker{display:none;}
.LOM-pageEdit-active .LOM-element[data-LOM-element='accordion']{
	padding: 60px 20px;
	
    details.LOM-element[data-LOM-element='details']{
		&[open].LOM-fake-open{
			div.LOM-holder{display:none;}
			//div.LOM-ui-handle{display:none;}
			padding-bottom:0px;
			summary{
				margin-bottom:0px!important;
				
			}

		}
		margin-bottom:0px;

			//height:40px;
			min-height:35px;
			margin-bottom:0px;
			
			summary{
				height:45px;
				}

	}
	
}

details,
.LOM-frame,
.LOM-holder{
	&>button.ico-LOM-plus.LOM-delete-on-save{
		opacity: 0.3;
  		filter: alpha(opacity=30);
	}
}
details:hover, .LOM-frame:hover, .LOM-holder:hover, *:focus{
	&>button.ico-LOM-plus.LOM-delete-on-save{
		opacity: 1;
  		filter: alpha(opacity=100);
	}
}

.LOM-highlight-editables{

	summary{
		//padding-left:30px;
		div.LOM-editable:before{
			left: 0px;
    		top: 5px;
		}
		&::-webkit-details-marker {
		  //display:none;
			visibility:hidden;
		}
	}
}


.LOM-pageEdit-active .LOM-element[data-lom-subtype='tabs']{
	margin-top: 70px;
	//padding-top:10px;
	&:before{
		content: 'TABBED INTERFACE';
		position: absolute;
		margin-left: -21px;
		margin-top: -104px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		//border-top-right-radius: 5px;
		background-color: white;

	}
}

html.LOM-pageEdit-active[lang="fr"] .LOM-element[data-lom-subtype='tabs']:before{
	content: 'INTERFACE À ONGLETS';
}

/*----------------- CAROUSEL -----------------------*/
.LOM-pageEdit-active .LOM-element[data-lom-element='carousel']{
	padding-top:45px;
	//padding-top:10px;
	&:before{
		content: 'CAROUSEL';
		position: absolute;
		//margin-left: -41px;
		margin-top: -52px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		border-right: transparent;
		//border-top-right-radius: 5px;
		background-color: white;

	}
	
	li.control.tab-count,li.control.plypause{
		display:none;
	}
	
	[role="tablist"]{
		display:none;
	}
	
	
	.tabpanels>.LOM-element{
		//WHEN IN EDIT MODE
		opacity: 1;
		visibility: visible;
		position: relative;
		max-height: inherit;

	}

}


.LOM-pageEdit-active .LOM-element[data-lom-element='panel']{
	padding-top:45px;
	//padding-top:10px;
	&:before{
		content: 'Panel';
		position: absolute;
		//margin-left: -41px;
		margin-top: -52px;
		width: auto;
		padding: 10px;
		border: 1px solid #ddd;
		border-bottom: transparent;
		border-right: transparent;
		border-top-right-radius: 5px;
		background-color: white;

	}
}

/*----------------- IMAGE -----------------------*/
.LOM-gallery-selected{
	border:3px solid black;
}
.LOM-pageEdit-active [data-lom-element='image']:hover{
	
	img{
		cursor:pointer;
	}
}

#LOM-clickable-action{

	&[data-action-type='navigate'] option:not(.LOM-action-navigate){display:none;}
	&[data-action-type='lightbox'] option:not(.LOM-action-lightbox){display:none;}
}

.LOM-custom-script:not(.LOM-attr-value){
	display:none;
}


.LOM-pageEdit-active .LOM-element[data-lom-element='lightbox']{
	padding-top: 50px;
	padding-bottom: 20px;
	
	.mfp-hide{display:block!important;}
	.LOM-popup-ID{
		position: absolute;
		right: 0px;
		border-left: 1px #e1e1e1 solid;
		//border-radius: 5px;
		background-color: white;
		padding: 12px;
		color:black;
		&:before{
			content:'Lightbox ID: ';
		}
	}
}

html.LOM-pageEdit-active[lang="fr"] .LOM-element[data-lom-element='lightbox'] .LOM-popup-ID:before{
    content:'ID de la fen. cont. : '; 
}

/*----------------- VIDEOS -----------------------*/
#LOM-video-files{
	margin-bottom:30px;
	select{
		display:none;
	}
}

.btn-selected{
	background-color:#f1f1f1!important;
	    border-width: 5px;
}

.upload-status progress{
    height: 15px;
}

.modal-body .row {
    margin-left: 0px;
    margin-right: 0px;
}

/*#LOM-video-upload h3, #LOM-audio-upload h3{
    margin-top: 0px;
}*/

/*----------------- markers -----------------------*/

.markers{
display: block;
    width: 100%;
    height: 16px;
    margin-top: -55px;
    position: absolute;
	.marker{
       margin-top: -16px;
			position: absolute;
			z-index: 1;
			padding: 0;
			width: 15px;
			height: 15px;
			/* overflow: hidden; */
			white-space: nowrap;
			/* text-indent: -9999px; */
			border: 1px grey solid;
			border-radius: 50%;
			display: inline-block;
		span{
			position:absolute;
			background-color:white;
			margin-top: -35px;
			padding:2px;
			display:none;
		}
		&:hover, &:focus{
			border-width:2px;
			span{display:block;}
		}
	}
}

figure figcaption .marker-hover{
	border-color:#555!important;}

.link-as-button{ 
	background-color:red;
	display:block;
}


.LOM-element.LOM-preload{
	opacity:0.5;
	&:before{
		 content: '';
		 position: absolute;
		 display: block;
		 width: 100%;
		 height: 100%;
		 margin: auto;
		z-index:1;
		background-image:url(../courses/_default/theme/base/loading.gif);
		background-position:center;
		background-repeat:no-repeat;
	}
}

.LOM-pageEdit-active .LOM-holder.hidden-holder {
    visibility: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// icon selected
button.currentIcon, button.currentSize, button.currentLbx, button.currentNav, button.currentOther, button.currentCustom{
	outline: dashed $label-color 3px!important;
}

/* *******************************************************
 * Style Editor
 * ******************************************************/


	 button.LOM-style-active{
		 outline:#606060 dashed 3px;
		 background-color: #cccccc!important;
	 }

	 .row.icon-list button {
		margin: 1px;
	}
	.style-result-box{position:relative;}

	.style-result-box{
		border:1px solid grey;
	}