/*-------------------------------------------------------------------------
//-------------------------------- NOT ACTIVE---------------------------
-------------------------------------------------------------------------*/

html:not(.LOM-pageEdit-active){
	.LOM-delete-on-save,.ico-LOM-layout{
	visibility:hidden!important;
	}
}


/*-------------------------------------------------------------------------
//-------------------------------- ACTIVE---------------------------
-------------------------------------------------------------------------*/
.LOM-pageEdit-active{
		// --- defining frames when editing
		 .LOM-frame{
			background-color:#fdfdfd;
			border:1px solid #e2e2e2;
			border-style:dashed;

			padding-top:10px;
			padding-bottom:10px;
		}
}