/*----------------- QS -----------------------*/
//----- opnly in editor
.LOM-pageEdit-active {

	// little error messages
	.qs-right, .qs-wrong, .qs-generic, 
	.LOM-element[data-lom-element="radiobtn"][data-ra='ra'],
	.LOM-element[data-lom-element="radiobtn"]:not([data-ra='ra']){
		&:after{
				font-size:0.7em;
				opacity:0.7;
			
		}
		
	}	
	
	.qs-elearning-activity,
	.qs-question,
	.qs-feedback,
	.qs-right,
	.qs-wrong,
	.qs-generic{
		display:block!important;
	}	
	.qs-submit,.qs-continue{
		display:none;
	}
	.ra{
		&:before{
			content:'';
			margin-top: -10px;
    		margin-left: -30px;
			@include iconpack(check, md, hover);
		}
	}
	.qs-answers{
		clear:both;
		padding-left:30px;
	
		.LOM-element{
		clear:both;
		width:100%;
		padding-top:7px;
		margin-bottom:0px;
	}
		
}


	.LOM-element[data-lom-element="radiobtn"]{
		cursor:pointer;
		margin-bottom:3px;
		&[data-ra='ra']{
			//background-color:#eee; 
			-webkit-box-shadow: 0px 0px 3px 1px rgba(0,119,0,1);
			-moz-box-shadow: 0px 0px 3px 1px rgba(0,119,0,1);
			box-shadow: 0px 0px 3px 1px rgba(0,119,0,1);
			&:after{
				content:'[Correct]';
			}
			input{
				
			}
		}
		&:not([data-ra='ra']){
			&:after{
				content:'[Incorrect] Click to set as Correct';
				
			}
		}
		&:hover{
			background-color:#f9f9f9;
			
		}
	}

	.qs-right, .qs-wrong, .qs-generic{
		form,&:after{
		display:inline-block;
		}}
	.qs-right:after{content:'[This will appear on a correct answer]';}
	.qs-wrong:after{content:'[This will appear on a wrong answer]';}
	.qs-generic:after{content:'[This will appear on any answer]';}

}

.qs-elearning-activity{
	
	display:block!important;
	h2{
		margin-top: 10px;
		margin-left: 30px;
		margin-bottom: 20px;
	}

	.qs-exercise{
		margin-bottom:100px;
	}
	.qs-answer{
		display:block;
		.LOM-editable, form{display:inline-block;}
	}

}

.qs-answer{
		display:block;
		.LOM-editable, form{display:inline-block;}
	input{display:inline-block;}
	}

