
@import "../editor/_buttons";

ul.courselist{
	li{
		width:100%;
		position:relative;
		height:48px;
		list-style:none;
		margin-bottom:3px;
		button{

			display: inline-block;
			margin-top:1px;
			position:absolute;
			&.course-download[lang=en]{margin-left:-135px; &:before{background-color:#ffcccc;}}
			&.course-download[lang=fr]{margin-left:-90px; &:before{background-color:#ccccff;}}
			&.course-delete{margin-left:-45px;}
			
		}
		a{
			
			height: 100%;
			display: inline-block;
			min-width: 100%;
			background-color: #fafafa;
			padding: 0.5em;
			border:1px solid #e1e1e1;
			&:hover,&:focus{
				background-color:#f1f1f1;
			}
			&:visited{
				color:black;
			}
		}
		&[data-course="_default"]{
			display:none; //
			
		}
	} 
} 
header{
	&:before{
		display:block;
		display: block;
		position: absolute;
		width: 85px;
		height: 85px;
		margin-top: -38px;
		margin-left: -20px;
		background-image: url(images/LOM-logo.png);

	}
	h1{padding-left:80px;}
}
body{background-color:white;}

#userfile{
	//@include iconpack(move, md, standard);	
    background-color: #fdfdfd;
    border-color: #e1e1e1;
    border-radius: 8px;	
	border-style:solid;
	border-width:1px;
	padding-top:8px;
	cursor:pointer;
	
}