<section class="modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in">
    <header class="modal-header">
        <h2 class="modal-title">TITLE</h2>
        <button title="Close overlay (escape key)" type="button" class="mfp-close overlay-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
    </header>

    <div class="modal-body" id="generic_LBX">

    </div>

    <div class="modal-footer"><button type="button" id="ftrClose" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" title="Close Close overlay (escape key)">Close<span class="wb-inv">Close overlay (escape key)</span></button></div>


</section>