<section>
    <h1 id="resources-edit-title">Ressources Edit</h1>
    <p id="resources-note"><strong>Note: </strong>This mode edits the content of the &ldquo;Glossary&rdquo; and &ldquo;Resources&rdquo; pages contained in the course's toolbox.</p>

    <h2 id="glossary-title">Glossary</h2>
    <div id="glossaryEdit">
        <div class="row" id="glossaryList">
            <div class="col-md-3">
                <h3>Term</h3>
            </div>
            <div class="col-md-9">
                <h3>Definition</h3>
            </div>
        </div>
        <button class="btn btn-default" id="add-glossary-term">Add</button>
    </div>

    <h2 id="resources-title">Resources</h2>
    <h3 id="abbr-title">Abbreviations</h3>
    <div id="abbrEdit">
        <div class="row" id="abbrList">
            <div class="col-md-3">
                <h4>Term</h4>
            </div>
            <div class="col-md-9">
                <h4>Definition</h4>
            </div>
        </div>
        <button class="btn btn-default" id="add-abbr-term">Add</button>
    </div>
    <h3 id="ext-title">External Links</h3>
    <div id="extEdit">
        <div class="row" id="extList">
            <div class="col-md-3">
                <h4>Text</h4>
            </div>
            <div class="col-md-4">
                <h4>Link</h4>
            </div>
            <div class="col-md-5">
                <h4>Description</h4>
            </div>
        </div>
        <button class="btn btn-default" id="add-ext-link">Add</button>
    </div>

    <button class="ico-SNAP-save snap-lg LOM-save-resources mrgn-tp-lg mrgn-bttm-lg">Save Resources</button>
</section>