@font-face {
	font-family: "BebasNeueBold";
	src: url("theme/fonts/bebasneue/BebasNeueBold.eot");
	src: url("theme/fonts/bebasneue/BebasNeueBold.eot?#iefix") format('embedded-opentype'),  url("../theme/fonts/bebasneue/BebasNeueBold.woff") format("woff"),  url("../theme/fonts/bebasneue/BebasNeueBold.ttf") format("truetype");
}
@font-face {
	font-family: "FuturaLtB";
	src: url("theme/fonts/futura/FuturaBT-Light.eot");
	src: url("theme/fonts/futura/FuturaBT-Light.eot?#iefix") format('embedded-opentype'),  url("../theme/fonts/futura/FuturaBT-Light.woff") format("woff"),  url("../theme/fonts/futura/FuturaBT-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "FuturaMd";
	src: url("theme/fonts/futura/FuturaBT-Medium.eot");
	src: url("theme/fonts/futura/FuturaBT-Medium.eot?#iefix") format('embedded-opentype'),  url("../theme/fonts/futura/FuturaBT-Medium.woff") format("woff"),  url("../theme/fonts/futura/FuturaBT-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "FuturaMdBT";
	src: url("theme/fonts/futura/FuturaBT-Bold.eot");
	src: url("theme/fonts/futura/FuturaBT-Bold.eot?#iefix") format('embedded-opentype'),  url("../theme/fonts/futura/FuturaBT-Bold.woff") format("woff"),  url("../theme/fonts/futura/FuturaBT-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

$BebasNeueBold:BebasNeueBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif;