
@import "./_fonts";
/*details summary::-webkit-details-marker  {display:none;}*/
.no-details details[open] > summary::before,.no-details details > summary::before {
   content: "" !important;    
}

.traduction{color:red!important; font-size:18px;}
/*----------------------------------------------*/



/* ---------------------------------------------------------------------------------------------
                                         COLORS
--------------------------------------------------------------------------------------------- */
/* nother light grey */

/* light Grey for footer I think */



/* fade to white*/
.fadeout:after {
	background: linear-gradient(rgba(0,0,0,0), #fff);
}
/*black bg*/

/*black txt*/
ul.sm.open>li>a, #wb-sttl>a>span, #wb-sm .menu > li > a, a.viewmore, .module-info>h3>a, .mod-list a, a.mod-launch, .sphere-of-madness a, footer .backnext a.back {
	color: #343434;
	text-decoration: none;
	padding-right: 25px;
}
.sm.open > li a:hover, .sm.open > li a:focus {
	background: #3b4485;
	color: white;
}




/*************************************
MARGINS - PADDINGS
*************************************/
.m-t-xs{margin-top:2.5%;}
.m-t-sm{margin-top:5%;}
.m-t-md{margin-top:10%;}
.m-t-lg{margin-top:20%;}

.m-l-xxs{margin-left:1%;}
.m-l-xs{margin-left:2.5%;}
.m-l-sm{margin-left:5%;}
.m-l-mdd{/* margin-left: 5em; */width: 24%;}
.m-l-md{margin-left:10%;}
.m-l-lg{margin-left:20%;}

.m-r-xxs{margin-right:1%;}
.m-r-xs{margin-right:2.5%;}
.m-r-sm{margin-right:5%;}
.m-r-md{margin-right:10%;}
.m-r-lg{margin-right:20%;}

.p-r-xs{padding-right:0;}


.r-xxs{right:1%;}
.r-xs{-right:2.5%;}
.r-sm{right:5%;}
.r-md{right:10%;}
.r-lg{right:18%;}
/******************************
	List
******************************/
/*li {padding-top:15px;}*/
details > ul, details > ol, details > p {margin-top:11.5px;}
a:visited{color:#639;}
a:active{color:#333333;}
a:hover{color:$greenish;}
/*a:focus {color:#333333;}*/

.mfp-bg {
	opacity:0.85!important;
	background-color:#ccc!important;
}
/******************************
	p -font-size
******************************/



html[lang='en'] #wb-bnr>div.container {
	background: white url(G180_new/G180_banner_en.jpg) no-repeat 0px 0px;
	min-height: 128px;
}
html[lang='fr'] #wb-bnr>div.container {
	background: white url(G180_new/G180_banner_fr.jpg) no-repeat 0px;
	min-height: 128px;
}

#dynamic_content {
	padding-top:25px;
}

.main-content{
	padding-left:25px;
}
.smaller {
	font-size: 0.8em;
}
.smallest {
	font-size: 0.5em;
}




/*Basic margins*/
/*.basic_mrg{margin-left:180px;}
h1, h2, h3, h4, p, dl {margin-left:180px;}*/
/*First p*/
.firstp {
	border-left: 5px solid $greenish;
	padding-left: 20px;
	font-size:15px;
}
#irregularShape > dl {
	margin: 20px 0 23px 165px;
	font-weight: 600;
}
#dynamic_content>h1 {
	margin-left: 180px;
	padding-top: 30px;
}
#wb-sttl {
	padding: 0;
	width: 100%;
	height: 128px;
	display: none;
}
#wb-sttl>a>span {
/*display:none;*/
}
#csps-modulenum {display: none;}
.nav_num {font-size:13px;}
#wb-sttl>a {
}
h2.series-title {
	font-family: BebasNeueBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: absolute;
	color: black !important;
	opacity: 0.1;
	font-size: 3.6em;
	margin: 0;
	display: none;
}
h2.series-title>a {
	padding: 0px 0px 11px 11px;
	margin-top: -28px;
	text-decoration: none;
	color: inherit;
	display: block;
}
#wb-sttl object { /*icône du title, événements souris dans mozilla*/
	pointer-events: none;
}


/* -------------------------------------------------------------------------------------------
 * ---------------------------------------------------Site menu
 ---------------------------------------------------------------------------------------------*/
 
 

.wb-menu  .wb-menu, .wb-menu .menu > li {
	height: 38px;
}


#mb-pnl .lng-ofr {
	height: 28px;
}

/* CSPS-SJ retrofix */

/*all befores and afterses*/




#wb-bar>.container:before, #wb-sm>.nvbar>div.row:before, #wb-bnr>.container:before, #wb-bar>.container:after, #wb-sttl:after, #wb-sm>.nvbar>div.row>.backnext:after {
	content: " ";
	display: block!important;
	position: absolute;
	width: 20px;
}
#wb-sttl:after {
	background: url(G180_new/bg_banner_right.jpg) repeat-y left;
	min-height: 128px;
	right: -20px;
}
#wb-sm>.nvbar>div.row:before {
	/*margin-left: -8px;G180*/
	min-height: 50px;
	background: url(G180_new/bg_menu_left.jpg) repeat-y right;
}
#wb-bar>.container:before {
	min-height: 42px;
	margin-left: -15px;
	background: url(G180_new/bg_topbar_left.jpg) repeat-y right;
}
#wb-bar>.container:after {
	min-height: 42px;
	right: -20px;
	margin-top: -42px;
	background: coral;
	background: url(G180_new/bg_topbar_right.jpg) repeat-y left;
}
#wb-bnr>.container:before {
	margin-left: -15px;
	background: url(G180_new/bg_banner_left.png) repeat-y right;
	min-height: 129px;
}
#wb-sm>.nvbar>div.row>.backnext:after {
	background: url(G180_new/bg_menubar_right.jpg) 0px 0px;
	min-height: 50px;
	/* right: 0px; */
	margin-top: -37px;
	margin-left: 113px;
}


.supermenu>li:first-child>a:focus{
	width:auto;

	}
	
	
	


/* Extra-small view */
@media screen and (min-width: 480px) and (max-width: 767px) {
/*
  WET-BOEW
  @title: Extra-small view (screen only)
 */ 
.breadcrumb{text-align:center !important; font-size:24px;  border-bottom:2px solid #cecece;}
.ico_activity:before{background-position:462px 18px;}
.activityimg{background: url('../content/medias/images/bg_activity2.png') no-repeat!important;min-width: 500px;min-height: 662px;background-position: 37px 139px!important;background-size: 461px 516px!important;}
.endModimg{} 
main{background:url(G180_new/bg_main.png) repeat-y -9px 0px!important;}
#objectivesleft{top:5px!important; left:25px;}
 .shapeobj{ 
		background-position: -100px 0px!important; 
	}
 .iconskip {
	 margin:-55px 0 0 450px;
	 }
 .shapeobj h3 {
	 margin:105px 0 0 90px;
 	}
 .shapeContent{
	 margin-left:105px;
	 max-width:340px;
 	}
	
	.skipContent{
	margin:-25px 0 0 15px!important;
	}

}



/* Small view */
@media screen and (min-width: 768px) and (max-width: 991px) {
/*
  WET-BOEW
  @title: Small view (screen only)
 */
   section {margin-top:50px;}
  .breadcrumb{padding:0!important;margin-bottom:0!important;text-align:center;font-size:18px;width: 750px;border-bottom:2px solid #cecece;margin: 0 auto;background: #f5f5f5!important;}
  #topbacknext{width:750px; margin:0 auto;}
  #wb-info h3 {white-space: nowrap;}
  .ico_activity:before{background-position:462px 18px;}
  .shapeobj{ 
		background-position: -100px 0px!important; 
	}
 .iconskip {
	 margin:-55px 0 0 520px;
	 }
 .shapeobj h3 {
	 margin:105px 0 0 150px;
 	}
 .shapeContent{
	 margin-left:150px;
	 max-width:340px;
 	}
	
	/*****************************
			Video
	******************************/

	.wb-mm-ctrls {
	  background: #3e3e3e;
	  color: #fff;
	  display: table;
	  padding-top: 2em;
	  bottom:0;
	  position: absolute;
	  width: 100%;
	  /* Progress Bar */
	  /* Slider polyfill styles */
	  opacity: 0.5;
	  z-index:1!important;
	  }
	
  
}



/*******************Modules***********************************************/
.module-heading{
	font-family:$BebasNeueBold;
	font-size:50px;
    height: 53px;
	margin:0 0 15px 79px;
}
.nextmodule-title {
	font-family:$BebasNeueBold;
	font-size:30px;
}
.nextmodule {
	width:250px;
}

.module-number {
	color:white;
	font-family:$BebasNeueBold;
	font-size:30px;
}


.module-content{
	display:inline-block;
	min-height: 204px;
	padding:158px 0 0 0;
	height: 204px;

	background-repeat: no-repeat;
	text-align: center;
	background-position: center top;
	position: relative;
	vertical-align: top;
}
.module-content a{
	text-decoration:none;
}
.design{
	background-image:url(../content/medias/images/mod-1.png);
}
.design .module-number {
	margin-left: -9px;
}
.election{
	background-image:url(../content/medias/images/mod-2.png);
}
.election .module-number {
	margin-left: 2px;
}
.advancing{
	position:relative;
	background-image:url(../content/medias/images/mod-3.png);
	height:206px;
	background-repeat:no-repeat;
}
.advancing .module-number {
	margin-left: -1px;
}
.implementing{
	position:relative;
	background-image:url(../content/medias/images/mod-4.png);
	height: 204px;
	background-repeat:no-repeat;
}
.implementing .module-number {
	margin-left: 4px;
}

.design:hover{
	background-position: center -204px;
}
.election:hover{
	background-position: center -205px;
}
.advancing:hover{
	background-position: center -206px;
}
.implementing:hover{
	background-position: center -206px;
}



.design:hover span.objectives, .advancing:hover span.objectives,.election:hover span.objectives, .implementing:hover span.objectives{
	text-decoration: underline;
}

.module-content > .title-positionning > span.objectives {
	text-align:center;
	width:125px;
	color:black;
}

a.objectives {text-decoration:none!important;}
/*******************details end***********************************************/

/******************end objectives************************************************/


/*********************
     Spacing Styles
**********************/
main{padding-bottom:45px;}
#inline-captions {font-size:15px; padding:0 16px!important;}
/*figcaption{margin-top:20px;}*/
figcaption p{font-size:15.5px;}
.center{margin:0 auto;}
.canadaMap{margin-bottom:35px;}
.govCan{margin-top:20px;}



/* ----------------------------------------------------------------------------
----------------------------------------MOBILE
---------------------------------------------------------------------------- */

#wb-glb-mn>ul>li>a {
	background-image: none!important;
}
#mb-pnl .lng-ofr {/* #mb-pnl .lng-ofr = mobile panel toolbox */
	padding-top: 0px;
}
#mb-pnl.modal-content { /*background fenêtre modal -sj */
}
#mb-pnl .modal-body { /*modal body c'est c'qui est sous le contenu du modal*/
	padding: 0;
}
#mb-pnl summary:hover, #mb-pnl summary:focus {
	background: none !important;
}
#mb-pnl a {
	/* ALL LINKS in the mobile panel */
		
	text-decoration: none;
}



/*links inside the small menu*/
#mb-pnl .lng-ofr {
	height: 38px;
	padding: 7px 35px 0px 15px;
	text-align: left;
	cursor: pointer;
}

/* ----------------BACKNEXT----------------*/
div.backnext {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
}
.pagelbl {
	display: none;
}
/* only top */		
nav .backnext {
	margin: 0 20px 0 0;
	font-size: 0.8em;
	min-width:96px;
}
nav div.backnext a:hover, nav div.backnext a:focus {
	color: #3b4485!important;
}
nav .backnext>a {
}




/* ----------------------------------------------------------------------------
----------------------------------------SPLASH
---------------------------------------------------------------------------- */

.obfuscated {
	display: none;
}

/* ---------------------------------------------------------------------------------------------
                                         content Elements
--------------------------------------------------------------------------------------------- */
main.container {
	padding-left: 0px!important;
	padding-right: 0px!important;
	background: url(G180_new/bg_main.png) repeat-y 11px 0px;
}
/* ----------------objectif----------------*/

	


/*fixes*/
#wb-sttl.removeMod #csps-modulenum, #wb-sttl.removeMod #csps-modulename {
	display: none;
}
#csps-modulename {
	font-family: BebasNeueBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: absolute;
	margin-top: 20px;
	margin-left: 10px!important;
	background: url(G180_new/bg_bubble.png) no-repeat left bottom;
	/*min-height: 70px;*/
	padding: 20px 25px;
	font-size: 1.5em/*2em*/;
	display: table-cell;
}
#csps-modulename > a {
	color: #343434;
	text-decoration: none;
	display: table-cell;
}

#csps-modulename > a:hover {
	background:transparent!important;

}

#csps-modulename>a>span {
	display: none;
}


/*--------------------------mb-PNL-----*/

#mb-pnl .lng-ofr {
	height: 41px;
	
}
#mb-pnl nav summary{font-size:15px; font-weight:600; color:#333333; padding-left:27px;}


#wb-lng > ul {
	margin-bottom: 0 !important;
}
